.tab-header {
  background-color: rgba(0,0,0,0.2);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tab-header .tab {
  width: calc(100% / 3);
  border: none;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  outline: none;
}

.tab-header .tab.active {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}




