/***
IMPORT CSS & FONTS
*/
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/***
RESET STYLES
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --light-background: #ebebeb;
  --green: #1de9b6;
  --green-tint: rgba(100,255,218,0.1);
}

body {
  font-family: 'Lato', sans-serif;
  overflow: auto;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--navy);
  color: var(--slate);
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  position: relative;
}

.sidebar-container {
  background-color: var(--green);
  width: 300px;
  height: 100vh;
  margin-left: -300px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  overflow-x: hidden;
  z-index: 99;
}

.sidebar-title {
  text-align: center;
}

.sidebar-title a {
  color: var(--dark-navy);
  font-weight: 600;
}

.sidebar-container.open {
  margin-left: 0;
}

.sidebar-container.open + .btn-closed {
  left: 300px;
  backdrop-filter: blur(8px);
  background-color: var(--green);
}

.btn-closed {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 60px;
  height: 60px;
  background: var(--green);
  color: var(--dark-navy);
  right: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
  z-index: 99;
}

.btn-closed img {
  width: 30px;
  height: 30px;
}

.sidebar-container.open + .btn-closed > img {
  transform: rotate(-180deg);
}

.sidebar-list {
  padding: 0;
}

.sidebar-list li {
  line-height: 60px;
  border-bottom: 1px solid var(--light-navy);
  padding-left: 25px;
  list-style: none;
}

.sidebar-list li:hover {
  background-color: var(--dark-navy);
}

.sidebar-list li:hover a {
  color: var(--white);
}

.sidebar-list li a {
  color: var(--light-navy);
  font-weight: 600;
}

.main .main-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/***
CUSTOM SCROLLBAR
*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-slate);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--slate);
}


/***
HEADING STYLES
*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'JetBrains Mono', monospace;
  margin: 1rem 0;
}

/***
COMPONENT STYLES
*/
a {
  text-decoration: none;
  color: #1565C0;
}

.btn {
  display: inline-block;
  background: transparent;
  outline: none;
  height: 35px;
  font-size: 1rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: rgba(0,0,0,0.2);
}

.img-fluid {
  width: 100%;
}

/***
TABS STYLES
*/
#tabs .tab-header {
  background-color: var(--white);
  color: var(--dark-navy);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#tabs .tab-header .tab {
  width: calc(100% / 3);
  border: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

#tabs .tab-header .tab.active {
  background: var(--green);
  /* border: 1px solid var(--green-tint); */
}

#tabs .tab-content .tab-pane {
  display: none;
}

#tabs .tab-content .tab-pane.active {
  display: block;
}

/***
IMAGE SLIDER STYLES
*/

#image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 500px;
}

#image-slider .image-items {
  border: 8px solid var(--green);
  border-radius: 4px;
  width: 500px;
}

#image-slider .image-items .item img {
  max-width: 100%;
  display: block;
}

#image-slider .image-items .item {
  display: none;
}

#image-slider .image-items .item.active {
  display: block;
}

#image-slider .controls {
  margin: 20px 0;
}

#image-slider .controls button {
  padding: 4px 12px;
  background-color: var(--green);
  color: var(--dark-navy);
  border: none;
  max-width: 60px;
  font-size: 1.1rem;
  cursor: pointer;
}

#image-slider .controls button:first-child {
  margin-right: 20px;
}